/*
    Site-wide
*/
html{
    font-family: 'Roboto', sans-serif;
    color: #454545;
}

body{
    margin: 0px;
    background-color: #FFF;
}

navigation{
    width:100%;
    height:50px;
    display:block;
    background-color:#A9DCA9;
    text-align: center;
}

.navLinks{
    float:left;
    margin-top:10px;
    margin-left:6px;
    padding:5px;
}

.navLinks a{
    color:#FFF;
    text-decoration: none;
    margin-right:5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
}

.logo{
    margin-top: 3px;
    margin-right: 2px;
    float:right;
}

section.home{
    margin:auto;
    margin-top: 30px;
    padding: 4px;
    min-width: 400px;
    max-width: 600px;
    text-align: center;
}

input.playerSearch[type="text"]{
    margin-top:10px;
    min-width:100px;
    width:40vw;
    height:30px;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 0px 2px 0px 2px;
    font-size:14px;
    color: #454545;
}

input.playerSearch[type="button"]{
    height:30px;
    border:none;
    margin-left: 10px;
    border-radius: 2px;
    background-color:#80b799;
    font-size:18px;
    color: #FFF;
    cursor: pointer;
}

section.PlayerSearchResults{
    width:90vw;
    min-width: 420px;
    margin:auto;
    margin-top:30px;

    text-align: center;
}

div.PlayerSearchResultsRow{
    min-width: 300px;
    max-width: 600px;
    height: 60px;
    margin: 0 auto 20px auto;
    padding:6px;
    border-radius: 4px;
    background-color: #F5F5F5;
    cursor: pointer;
}

img.PlayerSearchResultsHead{
    float:left;
    width: 60px;
    height: 60px;
}

div.PlayerSearchResultsInfoWrapper{
    height:60px;
    margin-left: 66px;
}

div.PlayerSearchResultsPlayerMeta{
    height:22px; 
    border-bottom:2px solid #CCC;
    font-size:18px;
}

span.PlayerSearchResultPlayerName{
    float:left;
    color:#A9DCA9;
}

span.PlayerSearchResultPlayerClass{
    margin-right:6px;
    float:right;
    color:#A9DCA9;
}

div.PlayerSearchResultsPlayerQuickStats{
    display:flex;
    height:36px;
    align-items: flex-end;
    justify-content: space-between;
    color:#b2bdb7;
}

font.PlayerSearchResultsPlayerQuickStat{
    font-size:15px;
}

font.PlayerSearchResultsPlayerQuickStatValue{
    font-size:20px;
    color: #454545;
}

div.profile{
    width:70vw;
    height:80vh;
    margin:auto;
    margin-top:30px;
    border-radius: 2px;
    padding-top:15px;
}

div.profile_header{
   display: grid;
   grid-template-columns: 1fr 1fr;
   min-width: 420px;
   height:250px;
}

div.profile_header_left img{
    width:240px;
    height:240px;
}

div.profile_header_right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}

span.profile_header_stat_wrapper{
    font-size:24px;
}

font.profile_header_stat_label{
    font-size:16px;
}

div.class_stats {
    border-top: 2px solid #CCC;
    margin-top: 20px;
    padding-top: 10px;
}

div.class_stat_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top:30px;
    margin-left:3vw;
    margin-right:3vw;
}

div.class_stat_entry{
    display:inline-block;
    width:18vw;
    min-width: 250px;
    margin-bottom:20px;
}

font.class_stat_entry_value{
    font-size:24px;
}

div.combat_log{
    padding-top: 20px;

    font-style: italic;
    text-align: center;
}